<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body>
    <div class="w-full h-screen bg-zinc-900">

        <div class="text-white p-5">
            <form action="/create" method="post">
                <input placeholder="Enter Title" class="block border-1 rounded p-3 w-full" type="text" name="title">
                <textarea name="details" placeholder="Enter Details"
                    class="block border-1 w-full rounded p-3 resize-none mt-3"></textarea>
                <input type="submit" class="bg-blue-500 pl-10 pr-10 pt-3 rounded-md pb-3 mt-3 " value="Do It">
            </form>
        </div>
        <div class="p-5 flex flex-row flex-wrap gap-10">
            <% if(files.length>0 ){ %>
                <% files.forEach(function(val){ %>
                    <div class="text-white bg-zinc-800 inline-block p-3 rounded-xl">
                        <h1 class="text-xl mb-2"><%= val %></h1>
                        <a class="text-blue-400 cursor-pointer" href="/file/<%= val %>">Read More.</a>
                    </div>
                <% })%>
            <% } else { %>
                <div class="text-white">Nothing to Show.</div>
            <% } %>



        </div>
    </div>

    <!-- <script src="/javascripts/script.js"></script> -->
</body>

</html>


